dtd/mobiles.dtd

<!ELEMENT mobiles (mobile+)>
<!ELEMENT mobile (company,model,price,accessories)>
<!ELEMENT company (#PCDATA)>
<!ELEMENT  model (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT accessories (#PCDATA)>
<!ATTLIST model type CDATA  "camera">
<!ENTITY hp "head phone">
<!ENTITY ch "charger">
<!ENTITY sk "starter kit">