xsd/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
     <!-- Root/ document emlent: employee -->
      <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="age" type="xs:integer"/>
                            <xs:element name="department" type="xs:string" />
                            <xs:element name="language" type="xs:string" />
                            <xs:element name="salary" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
      </xs:element>
</xs:schema>